<%- include('partials/header') %>
  <h1 class="main-heading"> Welcome Admin </h1>
  <form action = "/admin" method = "POST">
      <div class="blue-button">
        <a class="btn btn-lg btn-primary" href="/createElection" role="button">Create Election</a>
      </div>
      <div class="blue-button">
          <a class="btn btn-lg btn-primary" href="/endElection" role="button">End Election</a>
      </div>
      <div class="blue-button">        
            <a class="btn btn-lg btn-primary" href="/register" role="button">Register</a>        
      </div>
  </form>
<%- include('partials/footer') %>
