.navbar{
    padding: 0rem 1rem 1rem;
}
.navbar-brand {
    font-family: 'Ubuntu', serif;
    font-size: 2.5rem;
    line-height: 1.5;
    font-style: sans-serif;
}
.nav-item{
    padding: 0 18px;
}
.navbar-dark .navbar-nav .nav-link{
    font-size: 1.2rem;
    color: white;
    font-style: serif;
}
.navbar-dark .navbar-nav .nav-link:hover{
  cursor: pointer;
  text-decoration: underline;
  color: white;
}

.main-heading{
  text-align: center;
  margin: 20px;
}

.form-control{
  display: inline-block;
}

.blue-button{
  display: block;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  transform: scale(1);
  transition: transform 0.5s;
}
.blue-button:hover{
   transform: scale(1.05);
}

.show-elections{
  height: 100px;
  width: 100px;
  display: inline-block;
  margin: 50px;
}
.show-candidates{
  height: 150px;
  width: 150px;
  display: inline-block;
  margin: 50px;
}
.show-results{
  height: 125px;
  width: 175px;
  display: inline-block;
  margin: 50px;
}
.show-election-row{
  padding: 10px;
  width: 100%;
}
.list-group{
  height: 100%;
  width: 100%;
}

.row{
  justify-content: center;
}
